bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

.idea/

publish/
*.publish/

*.log
logs/

.env
.env.*
appsettings.Development.json
secrets.json

docker-compose.override.yml

**/postgres_data/

storage/
media/
streams/

**/storage/
**/media/
**/streams/

*.db
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db

node_modules/
dist/
build/

tmp/
temp/
*.tmp
apps/FilmolejBackend/appsettings.json
